@charset "utf-8";

/* Noto Sans KR */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
  src: local('Noto Sans KR');
	src: url(../fonts/Noto_Sans_KR/NotoSansKR-Thin.woff) format('woff'), url(../fonts/Noto_Sans_KR/NotoSansKR-Thin.woff2) format('woff2')
}/* thin */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
  src: local('Noto Sans KR');
	src: url(../fonts/Noto_Sans_KR/NotoSansKR-Light.woff) format('woff'), url(../fonts/Noto_Sans_KR/NotoSansKR-Light.woff2) format('woff2')
}/* light */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
  src: local('Noto Sans KR');
	src: url(../fonts/Noto_Sans_KR/NotoSansKR-Regular.woff) format('woff'), url(../fonts/Noto_Sans_KR/NotoSansKR-Regular.woff2) format('woff2')
}/* regular */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
  src: local('Noto Sans KR');
	src: url(../fonts/Noto_Sans_KR/NotoSansKR-Medium.woff) format('woff'), url(../fonts/Noto_Sans_KR/NotoSansKR-Medium.woff2) format('woff2')
}/* medium */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
  src: local('Noto Sans KR');
	src: url(../fonts/Noto_Sans_KR/NotoSansKR-Bold.woff) format('woff'), url(../fonts/Noto_Sans_KR/NotoSansKR-Bold.woff2) format('woff2')
}/* bold */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
  src: local('Noto Sans KR');
	src: url(../fonts/Noto_Sans_KR/NotoSansKR-Black.woff) format('woff'), url(../fonts/Noto_Sans_KR/NotoSansKR-Black.woff2) format('woff2')
}/* black */

/* Noto Sans SC */
@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 100;
  src: local('Noto Sans SC');
	src: url(../fonts/Noto_Sans_SC/NotoSansSC-Thin.woff) format('woff'), url(../fonts/Noto_Sans_SC/NotoSansSC-Thin.woff2) format('woff2')
}/* thin */
@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 300;
  src: local('Noto Sans SC');
	src: url(../fonts/Noto_Sans_SC/NotoSansSC-Light.woff) format('woff'), url(../fonts/Noto_Sans_SC/NotoSansSC-Light.woff2) format('woff2')
}/* light */
@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 400;
  src: local('Noto Sans SC');
	src: url(../fonts/Noto_Sans_SC/NotoSansSC-Regular.woff) format('woff'), url(../fonts/Noto_Sans_SC/NotoSansSC-Regular.woff2) format('woff2')
}/* regular */
@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 500;
  src: local('Noto Sans SC');
	src: url(../fonts/Noto_Sans_SC/NotoSansSC-Medium.woff) format('woff'), url(../fonts/Noto_Sans_SC/NotoSansSC-Medium.woff2) format('woff2')
}/* medium */
@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 700;
  src: local('Noto Sans SC');
	src: url(../fonts/Noto_Sans_SC/NotoSansSC-Bold.woff) format('woff'), url(../fonts/Noto_Sans_SC/NotoSansSC-Bold.woff2) format('woff2')
}/* bold */
@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 900;
  src: local('Noto Sans SC');
	src: url(../fonts/Noto_Sans_SC/NotoSansSC-Black.woff) format('woff'), url(../fonts/Noto_Sans_SC/NotoSansSC-Black.woff2) format('woff2')
}/* black */



/* ------------------------- reset css ------------------------- */

* {
  margin: 0;
  padding: 0;
}

html, button, input, select, td, textarea, th {
  font-size: 14px;
  color: #444;
  background: transparent;
  font-family: 'Malgun Gothic', '맑은 고딕', 'Noto Sans KR', "굴림", Gulim, "돋움", Dotum, "Apple SD Gothic Neo", AppleGothic, sans-serif, 'Noto Sans SC';
}

select {
  border: 1px solid #DDD;
  color: #444;
  background: #FFF;
}

select:active,
select:hover {
  border: 1px solid #444;
}

fieldset,img {
  border: 0 none;
}

dl, ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

button, input, select, textarea {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #8E8E8E;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #8E8E8E;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #8E8E8E;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #8E8E8E;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #8E8E8E;
}

label {
  cursor: pointer;
}

table, label, figure, caption {
  margin: 0;
  padding: 0;
  border: 0 none;
  vertical-align: baseline;
}

button {
  cursor: pointer;
  border: 0 none;
  background: transparent;
}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:active {
  cursor: pointer;
  text-decoration: underline;
  outline: none;
}
a:link, a:visited {
  text-decoration: none;
}



/* ------------------------- common css ------------------------- */

.sr_only {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.show {
  display: block;
}
.hide {
  display: none;
}

.ellipsis {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.btn_comm {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.btn_submit {
  width: 100%;
  margin-top: 30px;
  padding: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: 0.2s linear;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  color: #FFF;
  background: #4C4C4C;
}
.btn_submit:hover {
  background-color: #0070C0;
}

.btn_gray {
  display: inline-block;
  width: auto;
  min-width: 100px;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #B3B3B3;
  border-radius: 10px;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing:border-box;
  transition: 0.2s linear;
  font-size: 15px;
  line-height: 26px;
  color:#4C4C4C;
  background-color:#FFF;
}
.btn_gray:hover{
  color:#FFF;
  background-color: #0070C0;
}
.btn_gray + .btn_gray {
  margin-left: 10px
}

.btn_blue {
  display: inline-block;
  width: auto;
  min-width: 100px;
  height: 30px;
  margin-top: 40px;
  padding: 0 10px;
  border: 1px solid #0070C0;
  border-radius: 10px;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing:border-box;
  transition: 0.2s linear;
  font-size: 15px;
  line-height: 26px;
  color:#0070C0;
  background-color: #FFF;
}
.btn_blue:hover{
  color: #FFF;
  background-color: #0070C0;
}
.btn_blue + .btn_blue {
  margin-left: 10px
}

.btn_close,
.btn_confirm {
  z-index: 16;
  position: absolute;
  bottom: 20px;
}

img.img_thumb{
  display: block;
  max-width: 100%;
  height: auto;
}

.inner_type1 {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}
.inner_type2 {
  position: relative;
  width: 100%;
  min-width: 1620px;
  margin: 0 auto;
  padding: 20px;
}
.inner_type1:after,
.inner_type2:after {
  display: block;
  clear: both;
  content: '';
}

.ico_comm {
  display: inline-block;
  font-size: 14px;
  color: #444;
}

.ico_complete {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  font-size: 60px;
  color: #0070C0;
}

.align_left {
  text-align: left;
}
.align_center {
  text-align: center;
}
.align_right {
  text-align: right;
}

.emph_g {
  font-weight: 700;
}

.tit_logo {
  display: inline-block;
  font-size: 40px;
  font-weight: 700;
  color: #0070C0;
  
}

.tit_login {
  display: inline-block;
  width: 100%;
  padding-bottom: 50px;
  font-size: 28px;
  font-weight: 700;
  color: #444;
}

.tit_snb {
  display: inline-block;
  width: 100%;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.tit_section {
  display: inline-block;
  padding-bottom: 10px;
  font-size: 20px;
}

.txt_link {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  color: #0070C0;
}

.txt_dsc {
  display: block;
  padding-top: 10px;
  font-size: 15px;
  color: #252525;
}

.txt_assist {
  display: block;
  width: calc(100% - 40px);
  max-width: 392px;
  margin: 15px;
  font-size: 14px;
  color: #999;
}

.txt_popup {
  display: inline-block;
  width: 100%;
  padding: 25px 0;
  font-size: 15px;
  color: #252525;
}

.txt_copyright {
  display: inline-block;
  width: 100%;
  padding: 40px 20px;
  font-size: 12px;
  font-weight: 400;
}



/* ------------------------- style ------------------------- */

#wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-width: 1440px;
  height: 100%;
  margin: 0 auto;
  font-family: 'Noto Sans KR', 'Noto Sans SC', Arial, "굴림", Gulim, "돋움", Dotum, "Apple SD Gothic Neo", AppleGothic, sans-serif;
}

#wrapper.wrapper_type1 {
  height: 100vh;
  background-color: #F2F2F2;
}

#wrapper.wrapper_type2 {
  background-color: #FFF;
}

.cont_wrap {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 1440px;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: inherit;
}

/* ----- 헤더 영역 ----- */

.cont_header_type1 {
  position: relative;
  text-align: center;
}

.cont_header_type2 {
  z-index: 100;
  overflow: hidden;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 1440px;
  height: 100px;
  padding: 0 20px;
  border-bottom: 1px solid #666;
  box-shadow: 5px 5px 12px 5px rgba(0,0,0,0.1);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #FFF;
}

.select_type1 {
  border: 1px solid #B6B6B6;
  font-size: 12px;
  color: #252525;
  background-color: #FFF;
}

.wrap_select_lang {
  position: absolute;
  width: 100%;
  max-width: 200px;
  min-width: 100px;
  height: 30px;
  right: 0;
  top: 30px;
}

.wrap_select_login {
  width: 100%;
  height: 38px;
}

.select_group,
.select_authority {
  width: 100%;
  height: 100%;
  font-size: 12px;
}

.wrap_select_login + .wrap_select_login {
  margin-top: 15px;
}

.wrap_select_nation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(10% - 15px);
  min-width: 160px;
  height: 100px;
}

.select_nation {
  width: 100%;
  font-size: 12px;
}

.wrap_gnb {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  height: 100px;
}

.list_gnb {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  text-align: center;
}

.list_gnb li {
  width: 140px;
  text-align: center;
}

.list_gnb a,
.link_gnb {
  color: #444;
}

.list_gnb li:hover a.link_gnb,
.list_gnb a.link_gnb:hover,
.list_gnb > li.active a.link_gnb {
  font-weight: 700;
  text-decoration: underline;
  color: #252525;
}

.wrap_user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  height: 100px;
}

.link_user {
  display: inline-block;
  transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  font-weight: 400;
  color: #444;
}

.link_user:hover .txt_user,
.link_user:hover .txt_authlevel  {
  font-weight: 700;
  text-decoration: underline;
  color: #252525;
}

.ico_setting {
  padding-left: 10px;
}

.wrap_aside {
  z-index: 100;
  overflow-y: auto;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 10%;
  min-width: 180px;
  height: calc(100% - 200px);
  left: 0;
  top: 100px;
  border-right: 1px solid #666;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #444;
  background-color: #FFF;
}

.wrap_nav {
  width: 100%;
  height: 100%;
}

.wrap_snb {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  font-size: 12px;
}

.wrap_snb .ico_arrowdown {
  float: right;
  width: 12px;
  margin-right: 5px;
  text-align: center;
  color: #444;
}

.wrap_snb > li+li {
  border-top: 1px solid #666;
}

.wrap_snb li.active,
.list_snb.active {
  display: block;
}

.link_snb,
.list_snb > li a,
.link_submenu,
.list_submenu > li a {
	display: block;
	padding: 8px;
	transition: 0.2s linear;
  color: #444;
}

.link_snb,
.list_snb a.link_snb {
  font-weight: 700;
  background-color: #FFF;
}

.list_snb:hover a.link_snb,
.link_snb:hover,
.link_snb.active {
  transition: 0.2s linear;
  color: #0070C0;
}

.link_snb:hover,
.list_snb > li:hover a,
.link_submenu:hover,
.list_submenu:hover a,
.list_submenuli.active a,
.list_snb > li a:hover,
.list_submenu a:hover,
.list_submenu.active a {
  transition: 0.2s linear;
  font-weight: 700;
  color: #0070C0;
}

/* --- 메인 영역 --- */

.cont_main_type1 {
  position: relative;
  width: 100%;
  max-width: 492px;
  min-width: 360px;
  margin: 150px auto;
  padding: 50px;
  box-shadow: 27px 43px 43px -26px rgba(89,89,89,0.39);
  -moz-box-shadow: 27px 43px 43px -26px rgba(89,89,89,0.39);
  -webkit-box-shadow: 27px 43px 43px -26px rgba(89,89,89,0.39);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #FFF;
}

.cont_main_type2 {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-width: 1440px;
  height: 100%;
}

.wrap_contents_type1 {
  position: relative;
  margin: 100px 0 60px;
  width: 100%;
  text-align: center;
}

.wrap_contents_type2 {
  /* overflow-y: auto; */
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: calc(100% - 200px);
  margin: 100px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.wrap_article {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.wrap_article + .wrap_article {
  border-top: 1px solid #888;
  padding-top: 80px;
}

.table_type1 {
  width: 100%;
  min-width: 1620px;
  height: 100%;
  text-align: center;
  border: 1px solid #F0F0F0;
  font-size: 12px;
}

.table_type1 tbody tr td:first-child {
  border-bottom: 1px solid #F0F0F0;
  font-weight: 700;
}



.table_type1 thead {
  font-weight: 700;
  background-color: #E2E2E2;
}

.table_type1 td {
  padding: 10px 8px;
}

.table_type1 td + td {
  border-left: 1px solid #F0F0F0;
  border-top: 1px solid #F0F0F0;
}


.table_type1 tbody {
  background-color: #FFF;
}

.table_type1 label, input + label, input {
  margin-top: 0;
}

.table_type1 td > label, select {
  width: 100%;
  height: 38px;
}





.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}
.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.form-check-input[type=checkbox] {
  border-radius: 0.25em;
}
.form-check-input[type=radio] {
  border-radius: 50%;
}
.form-check-input:active {
  filter: brightness(90%);
}
.form-check-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.form-check-input[type=checkbox]:indeterminate {
  background-color: #0d6efd;
  border-color: #0d6efd;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}
.form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}
.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
  opacity: 0.5;
}

.form-switch {
  padding-left: 2.5em;
}
.form-switch .form-check-input {
  width: 2em;
  margin-left: -2.5em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
  background-position: left center;
  border-radius: 2em;
  transition: background-position 0.15s ease-in-out;
}








.input_type1 {
  width: 100%;
  height: 20px;
  padding: 18px 12px;
  border: 1px solid #E5E8EB;
  outline: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px;
  color: #252525;
  background-color: #FFF;
}
.input_type1 + .input_type1 {
  margin-top: 15px;
}


/* --- 푸터 영역 --- */

.cont_footer_type1 {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.cont_footer_type2 {
  z-index: 100;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100px;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 15px;
  color: #FFF;
  background-color: #444;
}

.link_login:hover .txt_link,
.link_signup:hover .txt_link {
  text-decoration: underline;
}
.link_login:visited, .txt_link,
.link_signup:hover .txt_link {
  color: #0070C0;
}

/* --- 팝업 --- */

.wrap_popup {
  z-index: 999;
  display:none;
  position: absolute;
  width: 100%;
  min-width: 1440px;
  height: 100%;
  left: 0;
  top: 0;
}

.popup_content {
  z-index: 128;
  position: fixed;
  width: 400px;
  height: auto;
  min-height: 150px;
  left: 50%;
  top: 50%;
  transform:translateX(-50%) translateY(-50%);
  -ms-transform:translateX(-50%) translateY(-50%);
  -webkit-transform:translateX(-50%) translateY(-50%);
  -moz-transform:translateX(-50%) translateY(-50%);
  -o-transform:translateX(-50%) translateY(-50%);
  box-shadow: 27px 43px 43px -26px rgba(89,89,89,0.39);
  -moz-box-shadow: 27px 43px 43px -26px rgba(89,89,89,0.39);
  -webkit-box-shadow: 27px 43px 43px -26px rgba(89,89,89,0.39);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  color: #444;
  background-color: #FFF;
}

.layer_text {
  position: relative;
  width: 100%;
  text-align: center;
}

.wrap_dimmed {
  z-index: 64;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}