body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button {
  margin: 0;
  padding: 0;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

input,
select,
textarea,
button {
  vertical-align: middle;
  font-size: 100%;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

input:checked[type='checkbox'] {
  background-color: #fff;
  -webkit-appearance: checkbox;
}

input[type='text'],
input[type='password'],
input[type='submit'],
input[type='search'],
input[type='tel'],
input[type='email'],
html input[type='button'],
input[type='reset'] {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

body,
input,
select,
textarea,
button {
  font-size: 14px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial, Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

img {
  vertical-align: top;
}

.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 1px;
  line-height: 0;
  color: transparent;
}

.ir_caption {
  overflow: hidden;
  width: 1px;
  font-size: 1px;
  line-height: 0;
  text-indent: -9999px;
}

.screen_out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.inner_g {
  position: relative;
  width: 1298px;
  margin: 0 auto;
}

.inner_g:after {
  display: block;
  clear: both;
  content: '';
}

.grp_half {
  font-size: 0;
}

.inner_half {
  display: inline-block;
  position: relative;
  width: 50%;
  vertical-align: top;
}

.ico_rohan {
  display: inline-block;
  overflow: hidden;
  width: 690px;
  height: 110px;
  background: url(../images/ico_rohan.png) 0 0 no-repeat;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  vertical-align: top;
}

[class*='ico_cloud'] {
  position: absolute;
}

.ico_cloud1 {
  top: 674px;
  left: -208px;
  width: 120px;
  height: 52px;
  background-position: -180px 0;
}

.ico_cloud2 {
  top: 554px;
  left: -139px;
  width: 74px;
  height: 42px;
  background-position: -310px 0;
}

.ico_cloud3 {
  top: 132px;
  left: 497px;
  width: 122px;
  height: 69px;
  background-position: -390px 0;
}

.ico_cloud4 {
  top: 273px;
  left: 635px;
  width: 160px;
  height: 62px;
  background-position: -520px 0;
}

.img_gnb {
  display: inline-block;
  overflow: hidden;
  width: 1314px;
  height: 354px;
  background: url(../images/img_gnb.png) 0 0 no-repeat;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  vertical-align: top;
}

.wrapper {
  min-width: 1314px;
}

.header {
  position: absolute;
  top: 34px;
  right: 0;
  left: 0;
  z-index: 1;
}

.header .tit_logo {
  float: left;
}

.header .list_util {
  float: right;
  margin-top: 2px;
}

.tit_logo .link_logo {
  display: block;
  width: 176px;
  height: 54px;
}

.list_util {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}

.list_util li {
  display: inline-block;
  vertical-align: top;
}

.list_util li + li {
  margin-left: 16px;
}

.list_util .link_util {
  display: block;
  width: 44px;
  height: 44px;
  background-position: 0 -60px;
}

.list_util .link_util:hover,
.list_util .link_util:focus {
  display: block;
  width: 44px;
  height: 44px;
  background-position: -50px -60px;
}

.list_util .link_today,
.list_util .link_today {
  background-position: -100px -60px;
}

.list_util .link_today:hover,
.list_util .link_today:focus {
  background-position: -150px -60px;
}

.container {
  position: relative;
}

.grp_hero {
  position: relative;
  min-width: 1298px;
  height: 951px;
  background-color: #f8f1e5;
}

.grp_hero .img_hero {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2560px;
  margin-left: -1280px;
}

.container .grp_quick {
  overflow: hidden;
  position: absolute;
  top: 876px;
  right: 0;
  left: 0;
  min-width: 1314px;
  z-index: 1;
}

.container .inner_quick {
  overflow-x: auto;
  overflow-y: hidden;
  height: 177px;
}

.container .list_quick {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 1314px;
  text-align: center;
}

.container .grp_quick.fixed {
  position: fixed;
  top: -3px;
  min-width: 0;
}

.list_quick {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}

.list_quick li {
  display: inline-block;
  vertical-align: top;
}

.list_quick .link_quick {
  display: block;
  width: 440px;
  height: 177px;
  background-position: -874px 0;
}

.list_quick li:first-child .link_quick {
  width: 440px;
  background-position: 0 0;
}

.list_quick li:first-child + li .link_quick {
  width: 434px;
  background-position: -440px 0;
}

.list_quick .link_quick.current {
  background-position: -874px -177px;
}

.list_quick li:first-child .link_quick.current {
  background-position: 0 -177px;
}

.list_quick li:first-child + li .link_quick.current {
  background-position: -440px -177px;
}

.conts_g {
  display: none;
  min-width: 1298px;
}

.conts_g.current {
  display: block;
}

.conts_g.first {
  padding-bottom: 153px;
  background: #47392f url(../images/evt1/evt1_bg.jpg) 50% 0 no-repeat;
}

.conts_g.first .grp_evt.fst .img_evt:first-child {
  margin-top: 169px;
}

.conts_g.first .grp_evt.fst .img_evt {
  margin-top: 72px;
}

.conts_g.first .grp_evt.lst .img_evt:first-child {
  left: auto;
  margin-top: 119px;
}

.conts_g.first .grp_evt.lst .img_evt {
  position: relative;
  left: -13px;
  margin-top: 59px;
}

.conts_g.second {
  padding-bottom: 180px;
  background: #47392f url(../images/evt2/evt2_bg.jpg) 50% 0 no-repeat;
}

.conts_g.second .grp_evt {
  position: relative;
}

.conts_g.second .grp_evt .link_evt {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 451px;
  z-index: 1;
  width: 396px;
  height: 80px;
  background-image: url(about:blank);
  color: transparent;
}

.conts_g.second .grp_evt.fst .img_evt:first-child {
  margin-top: 169px;
}

.conts_g.second .grp_evt.fst .img_evt {
  margin-top: 72px;
}

.conts_g.second .grp_evt .img_evt:first-child {
  margin-top: 119px;
}

.conts_g.second .grp_evt .img_evt {
  margin-top: 61px;
}

.conts_g.third {
  padding-bottom: 180px;
  background: #47392f url(../images/evt3/evt3_bg.jpg) 50% 0 no-repeat;
}

.conts_g.third .grp_evt {
  position: relative;
}

.conts_g.third .grp_evt .link_evt {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 451px;
  z-index: 1;
  width: 396px;
  height: 80px;
  background-image: url(about:blank);
  color: transparent;
}

.conts_g.third .grp_evt.fst .img_evt:first-child {
  margin-top: 189px;
}

.conts_g.third .grp_evt.fst .img_evt {
  margin-top: 70px;
}

.conts_g.third .grp_evt .img_evt:first-child {
  margin-top: 139px;
}

.conts_g.third .grp_evt .img_evt {
  margin-top: 61px;
}

.conts_g.third .grp_evt.lst .img_evt:first-child {
  left: auto;
  margin-top: 119px;
}

.conts_g.third .grp_evt.lst .img_evt {
  position: relative;
  left: 14px;
  margin-top: 50px;
}

.grp_evt .img_evt {
  display: block;
  margin: 0 auto;
}

.footer {
  min-width: 1298px;
  padding: 68px 0;
  background-color: #120f0e;
}

.footer .img_foot {
  display: block;
  margin: 0 auto;
}
